body {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 480px;
    width: 480px;
    border: solid 1px black;
}

.grid-square {
    height: 100%;
    width: 100%;
    border: dashed 1px red;
}